In [20]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [21]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['CONFIG']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['CONFIG']['AWS_SECRET_ACCESS_KEY']

In [24]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [25]:
input_data = "s3a://udacity-dend/"

In [26]:
spark = create_spark_session()

In [27]:
song_data = input_data+'song-data/A/A/A/*.json'

In [28]:
df = spark.read.json(song_data)

In [29]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [ ]:
df.show(n=10)

In [30]:
songs_table = df.select('song_id','title','artist_id','year','duration').where("song_id is not null").dropDuplicates()

In [32]:
songs_table.write.parquet("s3a://must-project-bucket/songs.parquet")

Py4JJavaError: An error occurred while calling o225.parquet.
: com.amazonaws.services.s3.model.AmazonS3Exception: Status Code: 403, AWS Service: Amazon S3, AWS Request ID: 06D4B14098CC7615, AWS Error Code: AccessDenied, AWS Error Message: Access Denied, S3 Extended Request ID: kHRONMiCiABLBBnVVTIugIZlNt9ELndPkl8v/ACqJtsj96X4DWq99RNJNKsAWKahmnsE4DJiJUE=
	at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpClient.java:798)
	at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:421)
	at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:232)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:3528)
	at com.amazonaws.services.s3.AmazonS3Client.putObject(AmazonS3Client.java:1393)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createEmptyObject(S3AFileSystem.java:1194)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createFakeDirectory(S3AFileSystem.java:1171)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.mkdirs(S3AFileSystem.java:871)
	at org.apache.hadoop.fs.FileSystem.mkdirs(FileSystem.java:1881)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.setupJob(FileOutputCommitter.java:313)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.setupJob(HadoopMapReduceCommitProtocol.scala:162)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:139)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:159)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:80)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:566)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [16]:
type(songs_table)

pyspark.sql.dataframe.DataFrame

In [22]:
artists_table = df.select('artist_id','artist_name',
                    'artist_location','artist_latitude','artist_longitude')\
                .withColumnRenamed('artist_name','name')\
                .withColumnRenamed('artist_location','location')\
                .withColumnRenamed('artist_latitude','latitude')\
                .withColumnRenamed('artist_longitude','longitude')\
                .where("artist_id is not null").dropDuplicates()

In [23]:
artists_table.show()

+------------------+--------------------+--------------------+--------+----------+
|         artist_id|                name|            location|latitude| longitude|
+------------------+--------------------+--------------------+--------+----------+
|ARSVTNL1187B992A91|       Jonathan King|     London, England|51.50632|  -0.12714|
|ARXR32B1187FB57099|                 Gob|                    |    null|      null|
|ARZKCQM1257509D107|          Dataphiles|                    |    null|      null|
|ARC1IHZ1187FB4E920|        Jamie Cullum|                    |    null|      null|
|AR1KTV21187B9ACD72|            Cristina|     California - LA|34.05349|-118.24532|
|ARXQBR11187B98A2CC|Frankie Goes To H...|  Liverpool, England|    null|      null|
|ARKYKXP11F50C47A6A|    The Supersuckers|                    |    null|      null|
|ARGE7G11187FB37E05|        Cyndi Lauper|        Brooklyn, NY|    null|      null|
|AR5LMPY1187FB573FE|   Chaka Khan_ Rufus|         Chicago, IL|41.88415| -87.63241|
|ARY589G1187B9A9F4E|         Talkdemonic|        Portland, OR|45.51179|-122.67563|
|ARZ5H0P1187B98A1DD|          Snoop Dogg|      Long Beach, CA|33.76672| -118.1924|
|AREWD471187FB49873|            Son Kite|                    |    null|      null|
|AR1C2IX1187B99BF74|     Broken Spindles|                    |    null|      null|
|AR73AIO1187B9AD57B|   Western Addiction|   San Francisco, CA|37.77916|-122.42005|
|AR0MWD61187B9B2B12|International Noi...|                    |    null|      null|
|ARA23XO1187B9AF18F|     The Smithereens|Carteret, New Jersey|40.57885| -74.21956|
|ARBZIN01187FB362CC|        Paris Hilton|                  27| 1.32026| 103.78871|
|AR9Q9YC1187FB5609B|    Quest_ Pup_ Kevo|          New Jersey|    null|      null|
|ARTC1LV1187B9A4858|  The Bonzo Dog Band|Goldsmith's Colle...| 51.4536|  -0.01802|
|ARSZ7L31187FB4E610|           Devotchka|          Denver, CO|39.74001|-104.99226|
+------------------+--------------------+--------------------+--------+----------+
only showing top 20 rows

In [1]:
artists_table.withColumnRenamed('artist_name','name')

NameError: name 'artists_table' is not defined

In [14]:
artists_table.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_longitude: double (nullable = true)

In [24]:
log_data = input_data + 'log_data/2018/11/*.json'

In [25]:
df = spark.read.json(log_data)

In [27]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [35]:
df.count()

8056

In [39]:
df=df.where(df.page=='NextSong')

In [43]:
user_table = df.select('userId','firstName','lastName','gender','level')\
               .withColumnRenamed('userId','user_id')\
               .withColumnRenamed('firstName','first_name')\
               .withColumnRenamed('lastName','lastName')\
               .where(df.userId.isNotNull()).dropDuplicates()

In [44]:
get_timestamp = udf(lambda x:str(datetime.fromtimestamp(x/1000)))

In [79]:
df=df.withColumn("timestamp",get_timestamp(df.ts))

In [80]:
df.select('userId','firstName','lastName','ts','timestamp').show()

+------+---------+--------+-------------+--------------------+
|userId|firstName|lastName|           ts|           timestamp|
+------+---------+--------+-------------+--------------------+
|    26|     Ryan|   Smith|1542241826796|2018-11-15 00:30:...|
|    26|     Ryan|   Smith|1542242481796|2018-11-15 00:41:...|
|    26|     Ryan|   Smith|1542242741796|2018-11-15 00:45:...|
|    61|   Samuel|Gonzalez|1542253449796|2018-11-15 03:44:...|
|    80|    Tegan|  Levine|1542260935796|2018-11-15 05:48:...|
|    80|    Tegan|  Levine|1542261224796|2018-11-15 05:53:...|
|    80|    Tegan|  Levine|1542261356796|2018-11-15 05:55:...|
|    80|    Tegan|  Levine|1542261662796|2018-11-15 06:01:...|
|    80|    Tegan|  Levine|1542262057796|2018-11-15 06:07:...|
|    80|    Tegan|  Levine|1542262233796|2018-11-15 06:10:...|
|    80|    Tegan|  Levine|1542262434796|2018-11-15 06:13:...|
|    15|     Lily|    Koch|1542262456796|2018-11-15 06:14:...|
|    80|    Tegan|  Levine|1542262679796|2018-11-15 06:17:...|
|    15|     Lily|    Koch|1542262728796|2018-11-15 06:18:...|
|    15|     Lily|    Koch|1542262893796|2018-11-15 06:21:...|
|    15|     Lily|    Koch|1542263158796|2018-11-15 06:25:...|
|    15|     Lily|    Koch|1542263378796|2018-11-15 06:29:...|
|    26|     Ryan|   Smith|1542265716796|2018-11-15 07:08:...|
|    26|     Ryan|   Smith|1542265929796|2018-11-15 07:12:...|
|    49|    Chloe|  Cuevas|1542266927796|2018-11-15 07:28:...|
+------+---------+--------+-------------+--------------------+
only showing top 20 rows

In [52]:
df.createOrReplaceTempView("time")

In [59]:
time_table = spark.sql("""select timestamp as start_time,
                       extract(hour from timestamp) as hour,
                       extract(day from timestamp) as day,
                       extract(week from timestamp) as week,
                       extract(month from timestamp) as month,
                       extract(year from timestamp) as year,
                       extract(dayofweek from timestamp) as weekday
                       from time""")

In [61]:
time_table.printSchema()

root
 |-- start_time: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

In [64]:
songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent

NameError: name 'songplay_id' is not defined

In [65]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [ ]:
df.join(songs_data,df.song=songs_data.title

In [66]:
song_data = spark.read.json(song_data)

In [88]:
from pyspark.sql.functions import udf, monotonically_increasing_id

In [93]:
songplays_table = df.join(song_data,(df.song == song_data.title) & (df.artist == song_data.artist_id),'left')\
  .select(df.timestamp,df.userId,df.level,song_data.song_id,song_data.artist_id,df.sessionId, df.location, df.userAgent)\
  .withColumn('songplay_id',monotonically_increasing_id())\
  .withColumnRenamed('timestamp','start_time')\
  .withColumnRenamed('userId','user_id')\
  .withColumnRenamed('sessionId','session_id')\
  .withColumnRenamed('userAgent','user_agent')

In [94]:
songplays_table.show()

+--------------------+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
|          start_time|user_id|level|song_id|artist_id|session_id|            location|          user_agent|songplay_id|
+--------------------+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
|2018-11-15 00:30:...|     26| free|   null|     null|       583|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|          0|
|2018-11-15 00:41:...|     26| free|   null|     null|       583|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|          1|
|2018-11-15 00:45:...|     26| free|   null|     null|       583|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|          2|
|2018-11-15 03:44:...|     61| free|   null|     null|       597|Houston-The Woodl...|"Mozilla/5.0 (Mac...|          3|
|2018-11-15 05:48:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          4|
|2018-11-15 05:53:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          5|
|2018-11-15 05:55:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          6|
|2018-11-15 06:01:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          7|
|2018-11-15 06:07:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          8|
|2018-11-15 06:10:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          9|
|2018-11-15 06:13:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|         10|
|2018-11-15 06:14:...|     15| paid|   null|     null|       582|Chicago-Napervill...|"Mozilla/5.0 (X11...|         11|
|2018-11-15 06:17:...|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|         12|
|2018-11-15 06:18:...|     15| paid|   null|     null|       582|Chicago-Napervill...|"Mozilla/5.0 (X11...|         13|
|2018-11-15 06:21:...|     15| paid|   null|     null|       582|Chicago-Napervill...|"Mozilla/5.0 (X11...|         14|
|2018-11-15 06:25:...|     15| paid|   null|     null|       582|Chicago-Napervill...|"Mozilla/5.0 (X11...|         15|
|2018-11-15 06:29:...|     15| paid|   null|     null|       582|Chicago-Napervill...|"Mozilla/5.0 (X11...|         16|
|2018-11-15 07:08:...|     26| free|   null|     null|       607|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|         17|
|2018-11-15 07:12:...|     26| free|   null|     null|       607|San Jose-Sunnyval...|"Mozilla/5.0 (X11...|         18|
|2018-11-15 07:28:...|     49| paid|   null|     null|       606|San Francisco-Oak...|Mozilla/5.0 (Wind...|         19|
+--------------------+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
only showing top 20 rows